<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amc.mapper.RecordScreenMapper">

    <resultMap id="screenMap" type="recordScreen">
        <id property="recordScreenId" column="record_screen_id"/>
        <result property="apiKey" column="project_id"/>
        <result property="deviceInfo" column="device_info"/>
        <result property="events" column="events"/>
        <result property="sdkVersion" column="sdk_version"/>
        <result property="time" column="time"/>
        <result property="userId" column="user_id"/>
        <result property="routeId" column="route_id"/>
        <result property="sesId" column="ses_id"/>
        <result property="ip" column="ip"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="pageUrl" column="page_url"/>
    </resultMap>

    <select id="getInfoByScreenId" parameterType="string" resultMap="screenMap">
        select * from record_screen where record_screen_id = #{recordScreenId}
    </select>
</mapper>