<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amc.mapper.RouterMapper">
    <insert id="pvSave" parameterType="pvPOJO">
        insert into pv
        (
        route_id,
        project_id,
        ip,
        city,
        province,
        entry_time,
        page_address,
        page_name,
        page_url,
        residence_time,
        ses_id,
        sdk_version,
        time,
        user_id,
        device_info
        ) values
        (
        #{routeId},
        #{apiKey},
        #{ip},
        #{city},
        #{province},
        #{entryTime},
        #{pageAddress},
        #{pageName},
        #{pageUrl},
        #{residenceTime},
        #{sesId},
        #{sdkVersion},
        #{time},
        #{userId},
        #{deviceInfo}
        )
    </insert>


    <resultMap id="findTimeListMap" type="pvPOJO">
        <result column="project_id" property="apiKey"/>
    </resultMap>


    <select id="findTimeList" parameterType="string" resultMap="findTimeListMap">
        select * from pv
        where DATE(FROM_UNIXTIME(time / 1000)) = #{time}
    </select>

    <select id="findTimeListByHour" parameterType="string" resultMap="findTimeListMap">
        select * from pv
        where FROM_UNIXTIME(time / 1000,'%H:00') = #{time}
    </select>

    <select id="selectPvByDay" resultMap="findTimeListMap">
        select DATE(FROM_UNIXTIME(time / 1000)) as day, count(DATE(FROM_UNIXTIME(time / 1000))) as dayCount from pv
        where DATE(FROM_UNIXTIME(time / 1000)) between #{startDay} and #{endDay} GROUP BY day
    </select>

    <!--
    count(user_id): 统计user_id的数量
    count(DISTINCT user_id): 统计user_id的去重数量
    -->
    <select id="selectUvByDay" resultMap="findTimeListMap">
        select DATE(FROM_UNIXTIME(time / 1000)) as day,count(DISTINCT user_id) as dayCount from pv
        WHERE DATE(FROM_UNIXTIME(time / 1000)) between #{startDay} and #{endDay} GROUP BY day
    </select>

    <select id="selectNewUvByDay" resultMap="findTimeListMap">
        select day,count(day) as dayCount from (
        select DATE(FROM_UNIXTIME(time / 1000)) as day,user_id from pv where DATE(FROM_UNIXTIME(time / 1000)) between
        #{startDay} and #{endDay} group by user_id
        ) as t1 where user_id not in (
        select user_id from pv where DATE(FROM_UNIXTIME(time / 1000)) not between #{startDay} and #{endDay} GROUP BY
        user_id
        ) GROUP BY day
    </select>

    <select id="selectIpByDay" resultMap="findTimeListMap">
        select DATE(FROM_UNIXTIME(time / 1000)) as day,count(DISTINCT ip) as dayCount from pv
        where DATE(FROM_UNIXTIME(time / 1000)) between #{startDay} and #{endDay} GROUP BY day
    </select>
</mapper>